---
layout: default
title: Members
---

<section id="members-list">
    <div class="container-fluid">
        <div class="row">
            <h3>Executive Board</h3>
            <hr>
            {% for member in site.data.members.direction %}
            <div class="col-md-3 col-lg-2 col-xs-6 col-sm-3">
                <img class="img-responsive img-thumbnail center-block" src="{{ "/assets/images/members/" | append: member.photo | relative_url}}">
                <p style="text-align:center">{{member.name}}<br>
                {{member.position}}<br>
                {{member.course}}</p>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <h3>Active Members</h3>
            <hr>
            {% for member in site.data.members.current %}
            <div class="col-md-3 col-lg-2 col-xs-6 col-sm-4">
                <img class="img-responsive img-thumbnail center-block" src="{{ "/assets/images/members/" | append: member.photo | relative_url}}">
                <p style="text-align:center">{{member.name}}<br>
                {{member.course}}</p>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <h3>Former Members</h3>
            <hr>
            {% for member in site.data.members.former %}
            <div class="col-md-3 col-lg-2 col-xs-6 col-sm-4">
                <img class="img-responsive img-thumbnail center-block" src="{{ "/assets/images/members/" | append: member.photo | relative_url}}">
                <p style="text-align:center">{{member.name}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
