
.entry {
  margin-top: 50px;
  

  .title {
    text-align: center;
    padding: 15px;
    float: left;
    color: white;
    background-color: $bright-blue;

    text-transform: uppercase;
    font-size: 1.2em;

    box-shadow: -1px 0px 2px -1px $bright-blue;
  }

  .desc-wrap {
    margin: 0 auto;
    overflow: hidden;

    color: #333;

    .desc-top, .desc-bottom {
      padding-left: 25px;
    }

    .desc-hr {
      background-color: $bright-blue;
      height: 5px;

      margin: 5px 0px;
    }
  }
}