
.entry {
  margin-top: 50px;
  

  .title {
    text-align: center;
    padding: 15px 0px;
    width: 160px;

    float: left;
    color: white;
    background-color: $bright-blue;

    text-transform: uppercase;
  }

  .desc-wrap {
    margin: 0 auto;
    overflow: hidden;

    color: #333;

    .desc-top, .desc-bottom {
      padding: 0px 15px;
    }

    .desc-hr {
      background-color: $bright-blue;
      height: 5px;

      margin: 5px 0px;
    }
  }
}