$ieee-blue: #00aeef;
$ieee-blue2: #006699;
$bright-blue: #009fda;
$dark-blue: #0b5172;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


body {
  margin: 0;
  width: 100%;
  font-family: "Verdana";
  background-color: #eeeeff;
}

@import "banner";
@import "entries";
@import "map";
