$ieee-blue: #006699;
$bright-blue: #00aeef;
$dark-blue: #0b5172;

$bg: #eef;

a {
  text-decoration: none;
  color: $bg;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 *::selection {
  color: white;
  background-color: chocolate;
 }

body {
  margin: 0;
  width: 100%;
  font-family: "Verdana";
  background-color: $bg;
}

.content-wrap {
  margin: auto;
  width: 90%;
  max-width: 1024px;
}

@import "banner";
@import "entries";
@import "map";
@import "speakers";
@import "registration";
@import "footer";