<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav">            
                <li class=" "><a href="/">Home</a></li>
                <li><a href="/news">News</a></li>                
                <li><a href="/about">About</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/wie">WiE</a></li>
                <li><a href="/embs">EMBS</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>