/* line 5, ../sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/main.scss */
*::selection {
  color: white;
  background-color: chocolate;
}

/* line 15, ../sass/main.scss */
body {
  margin: 0;
  width: 100%;
  font-family: "Verdana";
  background-color: #eeeeff;
}

/* line 22, ../sass/main.scss */
.content-wrap {
  margin: auto;
  width: 90%;
  max-width: 1024px;
}

/* line 4, ../sass/_banner.scss */
.banner {
  background-color: #006699;
  position: relative;
  width: 100%;
  height: 200px;
}
/* line 12, ../sass/_banner.scss */
.banner img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 30px 0px 10px 0px;
}
/* line 20, ../sass/_banner.scss */
.banner .banner-tri {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 100%;
  right: 0;
  border-style: solid;
  border-width: 0 90px 90px 0;
  border-color: transparent #006699 transparent transparent;
}

/* line 34, ../sass/_banner.scss */
.header {
  text-align: center;
  font-size: 1.6em;
  background-color: #006699;
  color: white;
  padding: 5px;
  box-shadow: 0px 1px 2px -1px #00aeef;
}

/* line 2, ../sass/_entries.scss */
.entry {
  margin-top: 50px;
}
/* line 6, ../sass/_entries.scss */
.entry .title {
  text-align: center;
  padding: 15px;
  float: left;
  color: white;
  background-color: #00aeef;
  text-transform: uppercase;
  font-size: 1.2em;
  box-shadow: -1px 0px 2px -1px #00aeef;
}
/* line 19, ../sass/_entries.scss */
.entry .desc-wrap {
  margin: 0 auto;
  overflow: hidden;
  color: #333;
}
/* line 25, ../sass/_entries.scss */
.entry .desc-wrap .desc-top, .entry .desc-wrap .desc-bottom {
  padding-left: 25px;
}
/* line 29, ../sass/_entries.scss */
.entry .desc-wrap .desc-hr {
  background-color: #00aeef;
  height: 5px;
  margin: 5px 0px;
}

/* line 2, ../sass/_map.scss */
.where .desc-hr {
  margin-bottom: 0 !important;
}
/* line 10, ../sass/_map.scss */
.where #map_canvas {
  height: 200px;
}

/* line 1, ../sass/_speakers.scss */
.entry-content {
  margin: auto;
  margin-top: 50px;
  color: #eef;
  max-width: 800px;
}
/* line 8, ../sass/_speakers.scss */
.entry-content .card-wrap {
  padding: 20px;
  display: inline-block;
  background-color: #006699;
}
/* line 14, ../sass/_speakers.scss */
.entry-content .card-wrap .card-left {
  width: 20%;
  float: left;
}
/* line 19, ../sass/_speakers.scss */
.entry-content .card-wrap .card-right {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  float: right;
}
